
body{
	font-family: "Arial", sans-serif;
    font-size:11pt;
    max-width:1920px;
    margin:auto;
}

h1.main {
	color:red;
}

h3 {
	padding: 0px;
	margin: 0 0 .25em -1em;
}
h3.sectionHeader{
	text-align:center;
}

h4 {
	margin: 0 0 .25em 0;
}

ul {
	list-style-type:none;
}

li {
	padding-bottom: .25rem;
}

.directions > li{
	padding-bottom: 1rem;
}

.notes > li{
	padding-bottom: .5rem;
}

.hanging{
	padding-left: 25px ;
}

.qty{
	text-align:right;
	width: 65px;
	padding-right: 6px;
	vertical-align: top;
}

.item {
	text-align:left;
	vertical-align: top;
}

a:hover{
	background-color: greenyellow;
}

/* design for mobile and small screens */

header{
	background: url('https://images.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer food overhead hig res.jpg') center;
  	background-size: cover;
	padding: 2rem;
}

.container-main{
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2,minmax(0, auto));
	gap: 0;
}

nav{
	grid-column: span 6;
	margin: 1rem 1rem 1rem 2rem;
	background-color: rgba(211, 211, 211,.3);
	border-radius: 15px;
}

/*hide #demo */

nav > h2{
	margin: .25em;
}

nav ul{
	margin: .5em;
}

.print{
	grid-column:span 6;
	font-family:"Calibri Light", "Arial Light", sans-serif;
}

.container-recipe{
	display:grid;
	grid-template-columns: minmax(300px, 1fr) repeat(5, 1fr);
	grid-template-rows: repeat(5,minmax(0, auto));
	gap: 0;
	margin: 1rem .5em 0 .5em;
}

.item-a{
	grid-column:span 6;
    grid-row:1;
}

.item-b{
    grid-column:span 6;
    grid-row: 5;
}

#recipeNotes{
	grid-column: span 6;
	margin: 0 .5em 1em 0px;
}

#recipeIngredients{
	display:inline-block;
	table-layout:fixed;
	grid-column: span 6;
	margin: 0 0 1em 0;
}

#recipeDirections{
	grid-column: span 6;
	padding:0px;
	margin: 0 .5em 1em 1em;
}

.container-header{
    display:grid;
    grid-template-columns: repeat(5,1fr) minmax(100px, 1fr);
    grid-template-rows:.8fr .2fr;
	gap:0;
	margin: 0 0 1em 0;
}

#recipeTitle{
    grid-column:span 5;
    grid-row: 1;
	font-family:"Franklin Gothic Medium Cond", "Arial Narrow", Arial, sans-serif;
	font-size:24pt;
	font-variant:small-caps;
	margin: 0px;
}

#recipeYield{
    grid-column:span 5;
    grid-row: 2;
	margin: 0px;
}

#recipeTime{
    grid-column: 6;
    grid-row: span 2;
	padding: 0px;
	margin: 0 .5em 0 .5em;
	text-align:right;
}

.container-footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
	gap: 0;
}

#recipeSource{
    grid-column:span 5;
	margin: 0px;
}

#recipeIndex{
    grid-column:6;
	margin: 0 .5em 0 0;
	text-align: right;
}

/*design for medium screens*/
@media (min-width:640px){
	body{
		font-size: 14pt;
	}

	#recipeTitle{
		font-size: 48pt;
	}

    #recipeIngredients{
        grid-column: span 1;
    }

    #recipeDirections{
        grid-column: span 5;
    }
}
/*design for large screens*/
@media (min-width:1200px){
    .container-main{
        display:grid;
        grid-template-columns: minmax(375px, 2fr) repeat(6, 1fr);
    }

    nav{
        grid-column: 1;
		grid-row: span 2;
    }
	
}





