body{
	font-family: Arial, Helvetica, sans-serif;
}

h1.main {
	color:red;
}

ul {
	list-style-type:none;
}

.qty{
	text-align:right;
	width: 65px;
	padding-right: 6px;
	vertical-align: top;
}

.item {
	text-align:left;
	vertical-align: top;
}

.hanging{
	padding-left: 25px ;
}

.directions > li{
	padding-bottom: 1rem;
}

.notes > li{
	padding-bottom: .5rem;
}

/* designed for mobile */
body{
	font-family: Arial, Helvetica, sans-serif;
    font-size:11pt;
    max-width:1920px;
    margin:2rem 0;
}

header{
	padding: 2rem;
	border: 3px solid darkblue;
	margin: 1rem;
}

.container-main{
	margin: auto;
	border:3px solid goldenrod;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
}

nav{
	grid-column: span 6;
	padding: 2rem;
	border: 3px solid darkgreen;
}

.recipe-list{
	border:1px solid lightpink;
	grid-column: 1/-1;
	grid-row:2;
}

.recipeHeader{
	border:1px solid aqua;
	grid-column:1/5;
	grid-row:3;

	padding:32px;
	margin-top: 16px;
	margin-bottom:16px;
	
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: .9fr, .1fr;
}

.title{
	grid-column:span 1;
	grid-row:1;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-variant: small-caps;
	margin: 0px;
	padding: 10px;	
}

.yield{
	grid-column:span 1;
	grid-row:2;
	margin:0px;
	padding: 2px;
	padding-left:10px;
}


.time {
	border:1px solid blanchedalmond;
	grid-column: 5/-1;
	grid-row:3;
}

.notes {
	border:1px solid palegreen;
	grid-column: 1/-1;
	grid-row:4;
}

.ingredients {
	display: inline-block;
	table-layout: fixed;
	border:1px solid powderblue;
	grid-column: 1/-1;
	grid-row:5;
	margin-top:16px;
}

.directions{
	border:1px solid rosybrown;
	display: inline-grid;
	grid-column: 1/-1;
	grid-row:6;
}

.source{
	border:1px solid grey;
	grid-column:1/6;
	grid-row:7;
}

.index{
	border:1px solid hotpink;
	grid-column:6/-1;
	grid-row:7;
}






