
body{
	font-family: "Arial", sans-serif;
    font-size:11pt;
    max-width:1920px;
    margin:auto;
}

h1.main {
	color:red;
}

ul {
	list-style-type:none;
}

.directions > li{
	padding-bottom: 1rem;
}

.notes > li{
	padding-bottom: .5rem;
}

.hanging{
	padding-left: 25px ;
}

.qty{
	text-align:right;
	width: 65px;
	padding-right: 6px;
	vertical-align: top;
}

.item {
	text-align:left;
	vertical-align: top;
}

header{
	border: 3px solid darkblue;
}

.container-main{
	border:3px solid goldenrod;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 0;
}

nav{
	grid-column: span 6;
	border: 3px solid darkgreen;
}

.print{
	grid-column:span 6;
	font-family:"Calibri", "Arial Light", sans-serif;
	border:darkviolet;
}

.container-recipe{
	display:grid;
	grid-template-columns: minmax(300px, 1fr) repeat(5, 1fr);
	grid-template-rows: repeat(5,minmax(0, auto));
	gap: 0;
}

.item-a{
	grid-column:span 6;
    grid-row:1;
    border:3px solid darkmagenta;
}

.item-b{
    grid-column:span 6;
    grid-row: 5;
    border:3px solid darkmagenta;
}

#recipeNotes{
	grid-column: span 6;
	border: 3px solid darkcyan;
	margin: 0px;
}

#recipeIngredients{
	display:inline-block;
	table-layout:fixed;
	grid-column: span 1;
	border: 3px solid darkred;
	margin: 0px;
}

#recipeDirections{
	grid-column: span 5;
	border: 3px solid darkred;
	margin: 0px;
}

.container-header{
    display:grid;
    grid-template-columns: repeat(5,1fr) minmax(100px, 1fr);
    grid-template-rows:.9fr .1fr;
	gap:0;
	margin: 0px;
}

#recipeTitle{
    grid-column:span 5;
    grid-row: 1;
	font-size: 48pt;
	font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-variant:small-caps;
	border: 3px solid darkblue;
	margin: 0px;
}

#recipeYield{
    grid-column:span 5;
    grid-row: 2;
	border: 3px solid darkblue;
	margin: 0px;
}

#recipeTime{
    grid-column: 6;
    grid-row: span 2;
	border: 3px solid darkblue;
	margin:  0px;
}

.container-footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
	gap: 0;
	margin: 0px;
}

#recipeSource{
    grid-column:span 5;
    border: 3px solid black;
	margin: 0px;
}

#recipeIndex{
    grid-column:6;
    border: 3px solid black;
	margin: 0px;
}
