header,
nav{
	display:none;
}

#recipeIngredients{
	grid-column: span 2;
}

#recipeDirections{
	grid-column: span 4;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

h1.main {
	color:red;
}

ul {
	list-style-type:none;
}

.qty{
	text-align:right;
	width: 65px;
	padding-right: 6px;
	vertical-align: top;
}

.item {
	text-align:left;
	vertical-align: top;
}

.hanging{
	padding-left: 25px ;
}

.directions > li{
	padding-bottom: 1rem;
}

.notes > li{
	padding-bottom: .5rem;
}

/* design for mobile and small screens */
body{
	font-family: Arial, Helvetica, sans-serif;
    font-size:11pt;
    max-width:1920px;
    margin:2rem 0;
}

header{
	padding: 2rem;
	border: 3px solid darkblue;
	margin: 1rem 0;
}

.container-main{
	margin: auto;
	border:3px solid goldenrod;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
}

nav{
	grid-column: span 6;
	padding: 2rem;
	border: 3px solid darkgreen;
}

.print{
	grid-column:span 6;
	padding: 2rem 0;
	border:darkviolet;
}

.container-recipe{
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(5,auto);
	grid-gap:20px;
}

.item-a{
	grid-column:span 6;
    grid-row:1;
    padding: 2rem 0;
    border:3px solid darkmagenta;
}

.item-b{
    grid-column:span 6;
    grid-row: 5;
    padding: 2rem 0;
    border:3px solid darkmagenta;
}

#listNotes{
	grid-column: span 6;
	padding: 2rem 0;
	border: 3px solid darkcyan;
}

#listIngredients{
	grid-column: span 2;
	padding: 2rem 0;
	border: 3px solid darkred;
}

#listDirections{
	grid-column: span 4;
	padding: 2rem 0;
	border: 3px solid darkred;
}

.container-header{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:.9fr .1fr;
    grid-gap:20px;
}

#recipeTitle{
    grid-column:span 5;
    grid-row: 1;
    padding: 1rem 0;
	border: 3px solid darkblue;
}

#recipeYield{
    grid-column:span 5;
    grid-row: 2;
    padding: 1rem 0;
	border: 3px solid darkblue;
}

#recipeTime{
    grid-column: 6;
    grid-row: span 2;
    padding: 1rem 0;
	border: 3px solid darkblue;
}

.container-footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap:20px;
}

#recipeSource{
    grid-column:span 5;
    padding: 1rem 0;
    border: 3px solid black;
}

#recipeIndex{
    grid-column:6;
    padding: 1rem 0;
    border: 3px solid black;
}